USERNAME=seu_usuario
PASSWORD=sua_senha
RINA_BASE_URL=https://api.rinaacc.com.br
RATE_LIMIT_REQUESTS=30
RATE_LIMIT_WINDOW_SECONDS=60
E2E_SEARCH_TERM=HISL
E2E_INITIAL_DATE=2026-05-01
E2E_FINAL_DATE=2026-05-18
